:root {
    --max-width: 375px;
}

html, body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 10px;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 25px;
}

form {
    max-width: var(--max-width);
}

iframe {
    width: 100%;
    max-width: var(--max-width);
    border: 1px solid #5e5e5e;
    border-radius: 6px;
    overflow: hidden;
}

.button-row {
    display: flex;
    gap: 10px;
    max-width: var(--max-width);
    margin: 20px 0;
}

.action-button {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    border-radius: 4px;
    color: white;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.github-button {
    background-color: initial;
    background-image: linear-gradient(-180deg, hsl(211, 60%, 58%), hsl(211, 60%, 43%));
}

.github-button:hover {
    background-color: initial;
    background-image: linear-gradient(-180deg, hsl(211, 60%, 41%), hsl(216, 60%, 19%));
}

.paper-button {
    background-color: initial;
    background-image: linear-gradient(-180deg, hsl(211, 60%, 58%), hsl(211, 60%, 43%));
}

.paper-button:hover {
    background-color: initial;
    background-image: linear-gradient(-180deg, hsl(211, 60%, 41%), hsl(216, 60%, 19%));
}

.hidden {
    display: none;
}

.input-section {
    margin-bottom: 10px;
}

#logOutput {
    font-family: monospace;
    white-space: pre-wrap;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
}


label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

input, select, button {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, select:focus, button:focus {
    outline: 2px solid #007BFF;
    border-color: #007BFF;
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #0a64c5, #002863);
    color: white;
    font-weight: normal;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px 20px;
    height: 45px;
}

button:hover {
    background-color: initial;
    background-image: linear-gradient(-180deg, #054e9c, #000917);
}

button:disabled, button.disabled {
    pointer-events: none;
    background-color: initial;
    background-image: linear-gradient(-180deg, #054e9c, #000917);
}

button .spinner {
    display: none;
    border: 3px solid #f3f3f3;
    border-top: 3px solid rgba(255, 255, 255, 1.0);
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid rgba(255, 255, 255, 1.0);
    border-left: 3px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

button.loading .spinner {
    display: inline-block;
    margin-left: 10px;
}

button.loading .button-text {
    visibility: visible;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
